.container {
  background-image: image-set(
  url('/assets/images/reg_bg-1x-min.webp') 1x,
  url('/assets/images/reg_bg-2x-min.webp') 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .list {
    list-style-type: none;
    padding-left: 8%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 36px;
    counter-reset: item;

    .list_item {
      font-family: var(--font-sfpro);
      font-weight: 500;
      color: #FFFFFF;
      font-size: 26px;
      counter-increment: item;
    }

    .list_item::before {
      color: #87AEF4;
      padding: 10px;
      background-color: #FFFFFF;
      content: counter(item);
      border-radius: 5px;
      width: 46px;
      height: 46px;
      display: inline-block;
      text-align: center;
      margin-right: 15px;
    }
  }

  .image {
    margin-top: auto;
  }
}