@import "public/assets/styles/media";

.container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  max-width: 524px;
  width: 100%;
  font-family: var(--font-sfpro);
  text-align: center;
  margin: auto;
  border-radius: 24px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 42px;

    @include mobile {
      gap: 8px;
      padding-top: 16px;
    }

    .section_header {
      font-size: 36px;
      font-weight: 500;

      @include mobile {
        font-size: 24px;
      }
    }

    .subheader {
      font-size: 18px;
      font-weight: 400;

      @include mobile {
        font-size: 16px;
      }
    }
  }

  .input_container {
    padding-top: 130px;
    padding-bottom: 205px;

    @include mobile {
      padding-top: 66px;
      padding-bottom: 19px;
    }
  }
}