.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.mark {
  height: 6px;
  border: 1px solid rgba(157, 165, 187, 0.6);
  position: absolute;
  bottom: -15px;
}

.mark_filled {
  background-color:  rgba(157, 165, 187, 0.6);
}

.track_container {
  height: 36px;
  display: flex;
  width: calc(100% + 20px);
}

.track_container_disabled {
  pointer-events: none;
}

.track_line_invisible {
  height: 0;
  width: 100%;
  position: relative;
  align-self: center;
}

.track_line_filled {
  height: 6px;
  background-color: #FFDF35;
  border-radius: 37px;
  position: absolute;
  left: 0;
  top: -6px;
  z-index: -1;
}

.track_line_unfilled {
  height: 6px;
  border-radius: 37px;
  background-color: #B3C1FB;
  float: right;
  position: absolute;
  right: 0;
  top: -6px;
  z-index: -1;
}

.thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #4065F6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px #AAA;
  outline: none;
  top: -3px;
  position: relative;
  z-index: 1;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: 0.2s;
  border: 4px solid #FFF;

}

.circle_addition {
  border-radius: 3px;
  background: #B3C1FB;
  width: 7px;
  height: 3px
}

.line_top {
  bottom: 10px;
  position: absolute;
  transform: translateY(-100%);
  width: 2px;
  height: 15px;
  background: linear-gradient(to top, rgba(119, 66, 244, 1), rgba(119, 66, 244, 0.8), rgba(119, 66, 244, 0.5), rgba(119, 66, 244, 0.3), rgba(119, 66, 244, 0));

}

.line_bottom {
  top: 10px;
  position: absolute;
  transform: translateY(100%);
  width: 2px;
  height: 15px;
  background: linear-gradient(to bottom, rgba(119, 66, 244, 1), rgba(119, 66, 244, 0.8), rgba(119, 66, 244, 0.5), rgba(119, 66, 244, 0.3), rgba(119, 66, 244, 0));

}

.circle_Dragged {
  width: 35px;
  height: 35px;
  border-color: #FFFFFF;

}

.text {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  color: #B3C1FB;
  font-family: var(--font-sf);
}

.mark_text {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
  bottom: -39px;
}

.text_left {
  position: absolute;
  top: 30px;
  left: 0;
}

.information {
  color: #8A92A6;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.text_right {
  position: absolute;
  top: 30px;
  right: 0;
}

.text_right_mark {
  font-size: 10px;
  right: -3px;
  top: 38px;
}

.text_left_mark {
  font-size: 10px;
  top: 38px;
  left: -2px;
}

.text_left_mark_error {
  color: red;
}

.text_right_mark_error {
  color: red;
}

.circle_end {
  width: 6px;
  height: 6px;
  background-color: var(--color-disabled2);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: -1;
}

.track_line_disabled {
  background-color: #9CA1AB;
}
