@import "public/assets/styles/media";

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 353px;
  width: 100%;
}

.track_container {
  height: 36px;
  display: flex;
  width: 100%;

  @include mobile {
    width: 343px;
    height: 8px;
  }
}

.track_container_disabled {
  pointer-events: none;
}

.track_line_invisible {
  height: 0;
  width: 100%;
  position: relative;
  align-self: center;
}

.track_line_filled {
  height: 5px;
  background: linear-gradient(90deg, #0066FF 0%, #70A9FF 100%);
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: -11px;
  z-index: -1;

  @include mobile {
    height: 8px;
    border-radius: 23px;
    top: -7px;
  }
}

.track_line_unfilled {
  height: 5px;
  border-radius: 20px;
  background-color: #9FA7AF;
  float: right;
  position: absolute;
  right: 0;
  top: -11px;
  z-index: -1;

  @include mobile {
    height: 8px;
    border-radius: 23px;
    top: -7px;
  }
}

.thumb {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  //background-color: #FFFFFF;
  background-color: #0066FF;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 6px solid #6AA3FA;
  outline: none;
  top: -8px;
  position: relative;
  z-index: 1;

  @include mobile {
    height: 18px;
    width: 18px;
    border: 3px solid #6AA3FA;
  }
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
