@import "public/assets/styles/media";

.container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 38px;

  @include mobile {
    flex-direction: column;
    gap: 24px;
    max-width: 343px;
  }

  .range_container {
    flex: 1 1;

    .range_legend {
      display: flex;
      justify-content: space-between;
      font-family: var(--font-nunito);
      color: #3E5174;
      font-size: 14px;
      font-weight: 400;

      @include mobile {
        font-size: 12px;
        padding-bottom: 10px;
      }
    }
  }

  .input {
    width: 353px;
    height: 54px;
    border-radius: 6px;
    font-family: var(--font-montserrat);
    font-size: 16px;
    font-weight: 400;
    border: transparent;
    background-color: #F2F2F2;
    padding: 12px 15px 12px 15px;
    color: #16142B;

    @include mobile {
      min-width: 343px;
      height: 32px;
      font-size: 14px;
    }
  }
}





