@import "/public/assets/styles/media";

.main_title {
  font-weight: 700;
  white-space: nowrap;
}

.subtitle {
  font-size: 58px;
  font-weight: 600;
  text-align: left;

  @include mobile {
    font-size: 20px;
  }
}