.main_title {
  font-weight: 700;
  line-height: 146.28px;
  text-align: center;
  white-space: nowrap;
}

.subtitle {
  font-size: 58px;
  font-weight: 600;
  line-height: 70.7px;
  text-align: left;
}