.container {

}

.range_container {

}

.range_legend {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-nunito);
  color: #3E5174;
  font-size: 22px;
  font-weight: 500;
}

.second_header {

}

