.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1322px;
  width: 100%;
  font-family: var(--font-sfpro);
  overflow: hidden;

  .header {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 60px;
  }

  .cards_container {
    display: flex;
    align-items: center;
    gap: 27px;

    .card {
      max-width: 423px;
      width: 100%;
      height: 297px;
      border-radius: 24px;
      display: flex;
      margin: auto;
      flex-direction: column;
      position: relative;

      .image {
        position: absolute;
        top: 21px;
        left: 359px;
      }

      .card_text {
        font-weight: 500;
        color: white;
        font-size: 37px;
        max-height: 76px;
        height: 100%;
        margin: auto;
        padding-left: 15px;
      }
    }

    .card_one {
      background: #012542;
      position: relative;
      z-index: 1;
    }

    .card_one::before {
      content: '1';
      position: absolute;
      top: -20px;
      left: 10px;
      color: white;
      font-size: 330px;
      z-index: 0;
      opacity: 50%;
    }

    .card_two {
      background: #1D486A;
      position: relative;
    }

    .card_two::before {
      content: '2';
      position: absolute;
      top: -20px;
      left: 10px;
      color: white;
      font-size: 330px;
      z-index: 0;
      opacity: 50%;
    }

    .card_three {
      background: #0066FF;
      position: relative;
    }

    .card_three::before {
      content: '3';
      position: absolute;
      top: -20px;
      left: 10px;
      color: white;
      font-size: 330px;
      z-index: 0;
      opacity: 50%;
    }
  }
}






