.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1322px;
  width: 100%;
  font-family: var(--font-sfpro);

  .header {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 60px;
  }

  .cards_container {
    display: flex;
    align-items: center;
    gap: 27px;

    .card {
      max-width: 423px;
      width: 100%;
      height: 297px;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      position: relative;

      .image {
        position: absolute;
        top: 21px;
        left: 359px;
      }

      .card_text {
        font-weight: 500;
        color: white;
        font-size: 38px;
        text-align: center;
        margin: auto;
        max-width: 378px;
        width: fit-content;
        max-height: 76px;
        height: 100%;
      }
    }

    .card_one {
      background: #012542;
    }

    .card_two {
      background: #1D486A;
    }

    .card_three {
      background: #0066FF;
    }
  }
}






