@import "/public/assets/styles/media";

.container {
  display: flex;
  flex-direction: column;
  max-width: 1322px;
  width: 100%;
  margin: 106px auto 103px;
  align-content: space-between;

  @include desktop {
   max-width: 1312px;
  }

  @include mobile {
    max-width: 343px !important;
    gap: 23px;
  }

  .review_subcontainer {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .section_header {
      font-family: var(--font-sfpro);
      font-size: 48px;
      font-weight: 500;

      @include desktop {
        width: 712px;
      }

      @include mobile {
        font-size: 32px;
        max-width: 343px;
        width: 100%;
      }
    }

    .section_subheader {
      font-family: var(--font-sfpro);
      font-size: 24px;
      font-weight: 400;

      @include mobile {
        font-size: 20px;
        max-width: 250px;
        width: 100%;
      }
    }
  }

  .review_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;

    @include mobile {
      flex-direction: column;
      gap: 0;
    }

    .review_cards_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 31px;
      grid-column-gap: 30px;
      width: 638px;
      height: 435px;
      margin-top: 60px;

      @include desktop {
        .review_card:nth-child(-n + 2) {
          display: none;
        }
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 632px;
        height: 590px;
      }

      @include mobile {
        .review_card:nth-child(-n + 2) {
          display: none;
        }
        display: flex;
        flex-direction: column;
        gap: 14px;
        max-width: 343px;
        width: 100%;
      }

      .review_card {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 28px;
        width: 304px;
        height: 202px;
        background: rgba(245, 245, 245, 1);
        border-radius: 12px;
        gap: 20px;

        @include desktop {
          width: 300px;
          height: 284px;
        }

        @include mobile {
          width: 343px;
          height: 185px;
          background: #EBEBEC;
        }

        .review_card_container {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .name {
            font-family: var(--font-cera);
            font-weight: 500;
            font-size: 16px;

            @include desktop {
              font-size: 19px;
            }
          }

          .date_stars_container {
            display: flex;
            gap: 16px;
          }
        }
      }

      .review_text {
        font-family: var(--font-cera);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        @include desktop {
          font-size: 14px;
          line-height: 18px;
        }

        @include mobile {
          font-size: 12px;
        }
      }

      .review_link_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 25px;
        width: 304px;
        height: 202px;
        border-radius: 12px;
        background-color: #E1E1E1;

        @include desktop {
          width: 300px;
          height: 284px;
        }

        @include mobile {
          width: 343px;
          height: 51px;
        }

        .arrow {

        }

        .link {
          text-align: center;
          font-family: var(--font-cera);
          font-weight: 500;
          font-size: 19px;
        }
      }
    }

    .review_form_container {
      margin-top: 42px;
    }
  }
}























