.header {
  position: static;
  width: 100%;
  background-color: transparent;
  margin-top: 23.56px;
}

.logo_link {
  margin-left: 155px;
  font-size: 24px;
  font-family: var(--font-cera);
  font-weight: 700;
  line-height: 30px;

}

.nav_buttons {
  font-family: var(--font-nunito);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 32px;
  float: right;
  padding-top: 4.77px;
  margin-right: 170px;
  font-size: 16px;
}

.highlight_logo {
  color: #007AFF;
}



