@import "/public/assets/styles/media";

.container {
  .header {
    display: flex;
    align-items: center;
    max-width: 1312px;
    width: 100%;
    justify-content: space-between;
    background: transparent;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;


    .logo_link {
      display: flex;
      font-size: 24px;
      font-family: var(--font-cera);
      font-weight: 700;
      gap: 10px;
      align-items: center;


      @include mobile {
        font-size: 20px;
        letter-spacing: 2px;
      }

      .logo {
        display: flex;
        flex-direction: column;

        .highlight_logo {
          color: #007AFF;
          letter-spacing: 4px;
        }
      }

      .header_dot {
        height: 5px;
        width: 5px;
        background-color: #0066FF;
        border-radius: 100%;
      }

      .logo_text {
        max-width: 177px;
        width: 100%;
        font-weight: 500;
        font-size: 17px;
        font-family: var(--font-sfpro);

      }
    }

    .nav_buttons {
      font-family: var(--font-nunito);
      font-weight: 500;
      display: flex;
      gap: 32px;
      font-size: 16px;
    }

  }

}

.container_blue {
@include mobile {
  background: linear-gradient(35.04deg, #88AFF4 10.98%, #628DD9 72.28%);
}

  .header {
    display: flex;
    align-items: center;
    max-width: 90%;
    width: 100%;
    justify-content: space-between;
    background: transparent;
    margin: 0 auto -55px;
    padding-top: 24px;

    @include mobile {
      margin-bottom: -80px;
      padding-bottom: 20px;
    }

    .logo_link {
      font-size: 24px;
      font-family: var(--font-cera);
      font-weight: 700;
      line-height: 30px;

      @include mobile {
        font-size: 20px;
        letter-spacing: 2px;
        color: #FFFFFF;
      }
    }

    .highlight_logo {
          color: #007AFF;
      @include mobile {
        color: #FFFFFF;
      }
        }

    .nav_buttons {
      font-family: var(--font-nunito);
      font-weight: 500;
      display: flex;
      gap: 32px;
      font-size: 16px;
      width: 635px;
    }
  }
}









