.container {
  display: flex;
  padding-top: 37px;
  padding-bottom: 38px;
  max-width: 1312px;
  margin: 0 auto;
  justify-content: space-between;

  .menu {
    max-width: 416px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 26px 51px 24px 29px;
    font-family: var(--font-sfpro);
    font-size: 14px;

    .top_wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-bottom: 24px;

      .bold {
        font-weight: 700;
      }

      .underlined_blue {
        color: #4065F6;
        text-decoration: underline 1px solid;
        text-underline-offset: 2px;
      }
    }

    .section_header {
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 12px;
    }

    .nav_links {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .nav_item {
        font-size: 12px;
        color: #4065F6;
        text-decoration: underline 1px solid;
        text-underline-offset: 2px;
      }
    }
  }

  .info_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 752px;
    width: 100%;
    font-family: var(--font-graphik);

    .top {
      background-color: #F2F2F2;
      border-radius: 12px;
      padding: 20px 24px;
      font-size: 10px;
      font-weight: 500;
      color: #6B6B6B;
      line-height: 12px;

      .naming {
        padding-bottom: 14px;

        .underlined {
          text-decoration: underline 1px solid;
        }
      }
    }

    .bot {
      background-color: #F2F2F2;
      border-radius: 12px;
      padding: 32px 18px 32px 24px;
      color: #6B6B6B;

      p {
        font-weight: 500;
        font-size: 10px;
        padding-bottom: 20px;
        max-width: 470px;
        width: 100%;
      }

      .laws_list {
        list-style: disc;
        padding-left: 17px;
        font-size: 10px;
        font-weight: 400;
        line-height: 13px;


        .laws_list_item {

        }
      }
    }
  }
}
