.accordion_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: var(--font-cera);
  font-weight: 400;
  font-size: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #AEA5A5;
  padding-top: 36px;
  width: 796px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accordion_item_open {
  font-family: var(--font-cera);
  font-size: 48px;
  font-weight: 500;
  padding-top: 36px;
}

.arrow_icon {
 transition: transform 0.3s ease, opacity 0.3s ease;
}

.accordion_item_open .arrow_icon {
  transform: rotate(90deg);
  opacity: 0;
}

.accordion_item_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.content {
  font-family: var(--font-cera);
  font-size: 20px;
  font-weight: 400;
  max-width: 763px;
  line-height: 26px;
  padding-top: 16px;
}

.accordion_item_content_open {
  max-height: 500px;
}