@import '/public/assets/styles/media';

.accordion_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-family: var(--font-sfpro);
  font-weight: 400;
  font-size: 36px;
  padding: 36px 0;
  border-bottom: 1px solid #AEA5A5;
  width: 796px;
  cursor: pointer;

    @include desktop {
        max-width: 640px;
        margin-right: 145px;
    }

    @include mobile {
        max-width: 360px;
    }
}

.accordion_item_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion_item:nth-last-child(-n+1) {
  border-bottom: none;
}

.accordion_item_open .accordion_item_content {
  max-height: none;
  height: auto;
  overflow: visible;
}

.accordion_item_open {
  font-family: var(--font-cera);
  font-size: 48px;
  font-weight: 500;
  padding-top: 36px;
  transition: all 0.3s ease;
}

.arrow_icon {
 transition: transform 0.3s ease, opacity 0.3s ease;
}

.accordion_item_open .arrow_icon {
  transform: rotate(90deg);
  opacity: 0;
}



.content {
  font-family: var(--font-cera);
  font-size: 20px;
  font-weight: 400;
  max-width: 763px;
  line-height: 26px;
  padding-top: 16px;
}

.accordion_item_content_open {

}

.accordion_container {
  @include desktop {
    max-height: fit-content;
  }
}