@import "/public/assets/styles/media";

.container {
  display: flex;
  flex-direction: column;
  padding-top: 99px;
  max-width: 1609px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.rating_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;
  border-bottom: 1px solid #D2D2D2;
  padding-top: 48px;
  width: 100%;
  max-width: 1609px;
  margin: auto;

  @include desktop {
    max-width: 1300px;
  }

  @include mobile {

  }
}

.naming_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button_container {
  display: flex;
  align-items: center;
  gap: 36px;

  @include desktop {

  }

  @include mobile {

  }
}

.rating_button {
  max-width: 439px;
  height: 78px;
  width: 100%;
  background-color: #0066FF;
  border-radius: 12px;
  font-family: var(--font-sfpro);
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  padding: 15px 28px 15px 33px;
  gap: 17px;

  @include desktop {

  }
}

.rating_number {
  color: rgba(0, 102, 255, 1);

}

.underlined {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.platform {
  font-family: var(--font-cera);
  font-size: 33px;
  font-weight: 400;
}
