@import "/public/assets/styles/media";

.container {
  display: flex;
  flex-direction: column;
  padding-top: 99px;
  max-width: 1609px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @include mobile {
    max-width: 343px;
    width: 100%;
    margin: auto;
    padding-top: 0;
  }

  .rating_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
    border-bottom: 1px solid #D2D2D2;
    padding-top: 48px;
    width: 100%;
    max-width: 1609px;
    margin: auto;

    @include desktop {
      max-width: 1300px;
    }

    @include mobile {
      flex-direction: column;
      padding-top: 24px;
      border-bottom: none;
      padding-bottom: 0;
    }

    .naming_container {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include mobile {
        gap: 10px;
        padding-bottom: 10px;
      }

      .title {
        font-size: 36px;
        font-weight: 500;

        @include mobile {
          font-size: 24px;
        }
      }

      .subtitle {
        font-size: 24px;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .button_container {
      display: flex;
      align-items: center;
      gap: 36px;

      @include desktop {

      }

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }

      .button_subcontainer {
        @include mobile {
          display: flex;
          flex-direction: row;
          gap: 8px;
          padding-bottom: 24px;
        }
      }

      .platform {
        font-family: var(--font-cera);
        font-size: 33px;
        font-weight: 400;

        @include mobile {
          font-size: 16px;
        }

        .rating_number {
          color: rgba(0, 102, 255, 1);
        }

        .underlined {
          text-decoration: underline;
          text-underline-offset: 7px;

          @include mobile {
            text-underline-offset: 3px;
          }
        }
      }

      .rating_button {
        max-width: 439px;
        height: 78px;
        width: 100%;
        background-color: #0066FF;
        border-radius: 12px;
        font-family: var(--font-sfpro);
        font-weight: 400;
        font-size: 32px;
        color: #FFFFFF;
        padding: 15px 28px 15px 33px;
        gap: 17px;

        @include desktop {

        }

        @include mobile {
          height: 52px;
          font-size: 20px;
        }

        .button_icon {
          @include mobile {
            width: 29px;
            height: 29px;
          }
        }
      }
    }
  }
}














