@import "public/assets/styles/media";

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
  width: 1068px;
  padding-bottom: 166px;

  @include desktop {
    gap: 61px;
    padding-bottom: 72px;
  }

  @include mobile {
    width: 346px;
    height: 639px;
  }
}

.section_header {
  font-family: var(--font-cera);
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

.offers_container {
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
  grid-template-columns: 222px 435px 340px;
  grid-template-rows: repeat(3, auto);
  gap: 24px;
  margin: auto;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }
}

.item {
  font-family: var(--font-sfpro);
  font-weight: 500;
  font-size: 24px;
  padding: 12px 49px 12px 49px;
  gap: 10px;
  border-radius: 36px;
  background-color: #0066FF;
  color: white;
}

.item:nth-child(1) {grid-area: item1; width: 222px; }
.item:nth-child(2) {grid-area: item2; width: 435px; }
.item:nth-child(3) {grid-area: item3; width: 340px; }
.item:nth-child(4) {grid-area: item4; width: 310px; margin-left: 10px; @include mobile {margin-left: 0}}
.item:nth-child(5) {grid-area: item5; width: 342px; margin-left: 96px; @include mobile {margin-left: 0}}
.item:nth-child(6) {grid-area: item6; width: 337px; }
.item:nth-child(7) {grid-area: item7; width: 480px; margin-left: 20px; @include mobile {margin-left: 0}}
.item:nth-child(8) {grid-area: item8; width: 248px; margin-left: 275px; @include mobile {margin-left: 0}}
.item:nth-child(9) {grid-area: item9; width: 233px; margin-left: 90px; @include mobile {margin-left: 0}}

.item:nth-child(even) {
  background-color: #3E5174;
}

