.input {
  width: 524px;
  height: 239px;
  border-radius: 12px;
  border: 1px solid #D9D9D9;
  padding: 10px;

}

.submit_button {
  width: 524px;
  height: 53px;
  background: #C1C1C1;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: var(--font-cera);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
}

.err_msg {
  font-family: var(--font-cera);
  font-size: 16px;
  font-weight: 500;
  color: red;
  padding-top: 20px;
}