.step_container {
  display: flex;
  align-items: center;
  gap: 22.1px;
  color: white;
  font-size: 37.53px;
  font-weight: 500;
  line-height: 37.53px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 52.75px;
}

