@import '/public/assets/styles/media';

.container {
  display: flex;
  flex-direction: column;
  gap: 53px;

  @include mobile {

  }

  .step_container {
    display: flex;
    align-items: center;
    gap: 22px;
    color: white;
    font-size: 37px;
    font-weight: 500;
  }
}

